:javascript
  var encrypted = false;
- if @code == ""
  %div.container
    %form.form-inline{ :id => "gluu_form", :method => 'POST', :action => '/'}
      %input{:id => 'attachments', :type => 'hidden'}
      %textarea{:id => 'clear_code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10'}= h @code
      %button.btn.btn-primary#gl-but{ :type => 'submit', :disabled => true }
        Gluu
      %span
        Expiration
        %label.checkbox
          %input#never_expire{:type=>'checkbox',:name => 'never_expire'} Never
        %select.span3#expiry_delay{:name => 'expiry_delay'}
          - expiries.each do |ts|
            %option{ts.html_properties}=ts.name
      %span#gl-text I need entropy... shake your mouse !
    %form.dropzone{ :id => 'uploader', :action => '/file-upload' }
      %div.fallback
        %input(name ='file' type ='file' multiple)
- else
  This paste will
  - if @never
    never expire
  - else
    expire in #{@expire}
  and is highlighted as 
  %span.change_to#hljs_lang
  .f
    %pre
      - if @code != nil
        %code#code= h @code
      - else
        %code#code
        %code#companions
        %code#encrypted= h @encrypted_content
        %code#attachments= h @attachments
        %textarea#spare
        %button.btn.btn-primary#reveal-but{ :type => "submit", :onclick => 'revealRaw' }
        Raw
        :javascript
          var encrypted = true;
        %br
        :javascript
          var encrypted = true;
    Switch highlight to
    %div#placeholder (if you don't see anything here, you should enable javascript on your browser :D)
