.container
  .row
    - if @code == ""
      .span2
        %p Copie Privée is a new kind of paste website. It will try to auto-detect the language you're pasting.
        - if @scores && @scores.length >0
          %p It looks like this is #{@scores.first.first.name} (#{"%2.02f" % @scores.first[1]}) (or maybe #{@scores[1].first.name}, #{"%2.02f" % @scores[1][1]} or even  #{@scores[2].first.name}, #{"%2.02f" % @scores[2][1]}...).
      .span10
        %form{:class=>'well', :method => 'POST', :action => '/'}
          %textarea{:name=>'code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10'}= h @code
          %br
          %input{:type=>'submit', :id => 'code', :class => 'btn btn-primary'}
    - else
      .span2
        = partial :language_select, locals: {'pos' => 0, 'language' => @scores[0][0].name, 'endpoint' => "set/as/#{@scores[0][0].name}", 'extra_class' => 'well' }
      .span10
        %p
          %textarea{:name=>'code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10', :enabled => 'false'}= h @code
      .row
        .span2 You can also select another syntax here if you feel this one is not fit.
        .span6 &nbsp; 
        - @scores[1..2].each_with_index do |sc, pos|
          .span2
            = partial :language_select, locals: {'pos' => pos, 'language' => sc[0].name, 'endpoint' => "set/as/#{sc[0].name}", 'extra_class' => ''}
  %hr

  %div= haml :footer
