:javascript
  var linguist = #{ (@scores || []).map {|s| s.first.downcase}.to_json};
- if @code == ""
  %form.form-inline{ :method => 'POST', :action => '/'}
    %button.btn.btn-mini.btn-danger{ :type => 'submit' }
      %i.icon-file.icon-white
      Save 
    / %button.btn.btn-mini.btn-primary.disabled
    /   %i.icon-lock.icon-white
    /   Encrypt
    %span
      Expiration
      %label.checkbox
        %input#never_expire{:type=>'checkbox',:name => 'never_expire'} Never
      %select.span3#expiry_delay{:name => 'expiry_delay'}
        - expiries.each do |ts|
          %option{ts.html_properties}=ts.name
    / %label.checkbox
    /   %input.disabled{:type=>"checkbox"} Browsable
    .row
      .span12
        %textarea{:name => 'code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10'}= h @code
- else
  .row
    .span12
      This paste will
      - if @never
        never expire
      - else
        expire on #{@expire}
      and is highlighted as 
      %span.change_to#hljs_detected
      - if @scores && @scores.length >0
        / (linguist says it's 
        / %span.change_to=@scores[0][0].downcase
        / and I don't care for now)
        -# \. It looks like this is #{@scores[0].first} (#{"%2.02f" % @scores.first[1]}) (or maybe #{@scores[1].first}, #{"%2.02f" % @scores[1][1]} or even  #{@scores[2].first}, #{"%2.02f" % @scores[2][1]}...).
  .row
    .span12
      %pre
        %code#code= h @code
      %pre{:style => 'display:none;'}
        %code#spare= h(h(@code))
  .row
    .span12
      Switch highlight to 
      %div#placeholder (if you don't see anything here, you should enable javascript on your browser :D)
    .span
      Switch style to
      %div#style-placeholder (if you don't see anything here either, your js is definitely not working :-O)
%hr
%div= haml :footer
