:javascript
  var linguist = #{ (@scores || []).map {|s| s.first.downcase}.to_json};
  var hljs_languages;

  function changeToLink(lang) {
    return '<a href="#'+lang+'" onclick="changeTo(\''+lang +'\');">'+lang+'</a>';
  }


  $(document).ready(function() {
    hljs_languages = Object.keys(hljs.LANGUAGES);
    var elt = $("#code")[0];
    hljs.highlightBlock(elt);
    var detected = $(elt).attr('class');
    $('#hljs_detected').text(detected);
    
    $('.change_to').replaceWith(function() {
      var lang = $.trim($(this).text());
      return changeToLink(lang);
    });

    $('#placeholder').replaceWith(function() {
      var o ='';
      for(i=0; i < hljs_languages.length; i++) {
        if(hljs_languages[i] == detected)
        {
          continue;
        }
        o = o + changeToLink(hljs_languages[i]) +" ";
      }
      return o
    });
  
  });
  function changeTo(lang) {
    $('#code').replaceWith(function() {
      return "<code id='code' class='"+lang+"'>"+$('#spare').text()+"</code>";
    });
    hljs.highlightBlock($('#code')[0]);
  }
.container
  %form.well.form-inline{ :method => 'POST', :action => '/'}
    %row
      %button.btn.btn-mini.btn-danger
        %i.icon-file.icon-white
        Save 
      %button.btn.btn-mini.btn-primary.disabled
        %i.icon-lock.icon-white
        Encrypt
      Expire
      %select.span3
        %option 5 Minutes
        %option 30 Minutes
        %option 1 hour
        %option 1 day
        %option 1 week
        %option 1 year
        %option never
      %label.checkbox
        %input{:type=>"checkbox"} Browsable



  .row
    - if @code == ""
      .span2
        - if @scores && @scores.length >0
          %p It looks like this is #{@scores[0].first} (#{"%2.02f" % @scores.first[1]}) (or maybe #{@scores[1].first}, #{"%2.02f" % @scores[1][1]} or even  #{@scores[2].first}, #{"%2.02f" % @scores[2][1]}...).
      .span10
        %textarea{:name=>'code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10'}= h @code
        %br
        %input#code{:type=>'submit', :class => 'btn btn-primary'}
    - else
      .span2 
        #{ "Oy" }, I've hilighted this as 
        %span.change_to#hljs_detected
        or 
        %span.change_to=@scores[0][0].downcase
        \.
        We can also try all these color syntax:
        %span#placeholder (if you don't see anything here, you should enable javascript on your browser :D)
        \.
      .span10
        %p
          %pre
            %code#code= h @code
      %pre{:style => 'display:none;'}
        %code#spare= h(h(@code))
  %hr

  %div= haml :footer
