:javascript
  var encrypted = false;
- if @code == ""
  %div.container
    %form.form-inline{ :id => "gluu_form", :method => 'POST', :action => '/'}
      %textarea{:id => 'clear_code', :style => 'width: 100%', :class => 'input-xlarge', :rows => '10'}= h @code
      %button.btn.btn-primary#gl-but{ :type => 'submit', :disabled => true }
        Gluu
      %span
        Expiration
        %label.checkbox
          %input#never_expire{:type=>'checkbox',:name => 'never_expire'} Never
        %select.span3#expiry_delay{:name => 'expiry_delay'}
          - expiries.each do |ts|
            %option{ts.html_properties}=ts.name
      %span#gl-text I need entropy... shake your mouse !
- else
  .row
    .span12
      This paste will
      - if @never
        never expire
      - else
        expire in #{@expire}
      and is highlighted as 
      %span.change_to#hljs_lang
  .f
    %pre
      - if @code != nil
        %code#code= h @code
      - else
        %code#code
    %textarea#spare
    %code#encrypted= h @encrypted_content
    %button.btn.btn-primary#reveal-but{ :type => "submit", :onclick => 'revealRaw' }
      Raw
    :javascript
      var encrypted = true;
    %br
    Switch highlight to
    %div#placeholder (if you don't see anything here, you should enable javascript on your browser :D)
%div= haml :footer
